body {
  background-image: url("../assets/chinook.jpg");
  background-size: auto;
  background-repeat: repeat;
}

.family {
  margin: 25px auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.family h3 {
  border: none;
  background-color:rgba(230, 243, 243, 0.1);
  font-size: 25px;
  padding: 15px;
}

.family p {
  padding: 10px;
}

#locations {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

#locations div {
  width: 25%;
  margin: 25px;
  text-align: left;
  background-color:rgba(230, 243, 243, 0.9);
  padding: 15px;
  overflow: auto;
}

#locations h3 {
  background-color:rgba(230, 243, 243, 0.1);
  text-align: left;
  border: none;
  font-size: 20px;
  text-decoration-line: underline;
}
