body {
  background-image: url("../assets/chinook.jpg");
  background-size: auto;
  background-repeat: repeat;
}

.family {
  margin: 25px auto;
  width: 75%;
  padding: 10px;
  text-align: center;
  background-color:rgba(230, 243, 243, 0.9);
}

.family h3 {
  border: none;
  background-color:rgba(230, 243, 243, 0.1);
  font-size: 25px;
  padding: 15px;
}

.family p {
  padding: 10px;
}

#locations {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 30px auto;
  background-color:rgba(252, 252, 252, 0.9);
}

#locations div {
  width: 18%;
  margin: 20px;
  text-align: left;
  background-color:rgba(230, 243, 243, 0.9);
  padding: 15px;
  overflow: auto;
}

#locations h3 {
  background-color:rgba(230, 243, 243, 0.1);
  text-align: left;
  border: none;
  font-size: 20px;
  text-decoration-line: underline;
}

.intro{
  margin: 25px auto;
  width: 73%;
  padding: 10px;
  text-align: center;
  background-color:rgba(197, 74, 142, 0.9);
  overflow: auto;
  border: solid rosybrown;
}

.intro h2, h3 {
  font-weight: bold;
  border: none;
  font-size: 35px;
  background-color: inherit;
}

.intro h3 {
  padding-top: 15px;
  font-size: 25px;
  font-weight: normal;
  background-color: inherit;
}
