body {
  background-image: url("../assets/salmon.png");
  background-size: auto;
  background-repeat: repeat;
  background-color: lightcyan; 
}

#sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-style: bolder;
  text-decoration-line: underline;
}

#sales div {
  border: solid;
  text-align: left;
  padding: 5px;
  background-color: white;
  width: 95%;
  overflow-x: auto;
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

h3 {
  text-align: center;
  font-style: bold;
  font-size: 25px;
  background-color: whitesmoke;
  border: solid;
  border-bottom: none;
  padding: 3px;
}

a {
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
}

table {
  background-color: whitesmoke;
  width: 100%;
}

tr {
  text-align: center;
  font-size: 20px;
}

td {
  padding: .25%;
}

th {
  padding: .25%;
}

tr:nth-child(even) {
  background-color: lightblue;
}

th, tr:last-child {
  font-size: 25px;
  background-color: yellowgreen;
}



/* Navigation Bar W3School Style*/

.navbar {
  background-color: lightcyan;
  opacity: .8;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.page-index {
  float: left;
  font-size: 50px;
}

.title {
  display: inline-block;
}

.container {
  border-radius: 3px;
  padding: 5px;
  float: right;
  margin-top: 5px;
  border: thin solid blue;
  border-radius: 3px;
}

.container h2 {
  display: inline-block;
}

.container i {
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.container:hover .dropdown-content {
  display: block;
  margin-left: -60px;
  margin-top: 6px;
  opacity: 1;
}

.container:hover {
  border: thin solid green;
  border-radius: 3px;
}

/* -------------- */

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 12px;
    padding-left: 3px;
    padding-top: 0px;
  }
  
  .navbar {
    padding: 10px;
  }

  .page-index {
    float: left;
    font-size: 20px;
  }

  .container {
    padding: 1px;
    margin-top: -2px;
  }

  .container:hover .dropdown-content {
    display: block;
    margin-left: -80px;
    margin-top: 2px;
  }

  tr {
    font-size: 10px;
  }

  th, tr:last-child {
    font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 12px;
    padding-left: 3px;
  }

  .navbar {
    padding: 10px;
  }

  .page-index {
    float: left;
    font-size: 15px;
  }

  .container {
    margin-top: -7px;
  }

  .container:hover .dropdown-content {
    display: block;
    margin-left: -80px;
    margin-top: 2px;
  }

  #sales div {
    margin-bottom: 15px;
  }
  
  #sales {
    margin: 50px;
  }
}